
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
  --FONT-FAMILY: "Oswald", cursive;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  font-family: var(--FONT-FAMILY);
    background-color: black;
    font-weight: 200;
}

[data-theme="light"] {
  background-color: rgb(177, 197, 219);
  color: rgba(0, 0, 0, 0.87);
  .name{
    color: black;
  }
  .artist{
    background-color: none;
  }
}

[data-theme="dark"] {
  background-color: #000;
  color: rgba(255, 255, 255, 0.87);
}

.heading{
  font-size: 1.2rem;
}

@media screen and (min-width: 640px) {
 /*  body {
    overflow-x: hidden;
    height: 100dvh;
  } */
  .heading{
    font-size: 2rem;
  }
}
.position{
   transform: translateX(-26rem);
   /* overflow-x: hidden; */
}
@media screen and (min-width: 64rem) {
  .position{
    overflow-x: hidden;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d4c1c1;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-image: url(./assets/Sun.svg);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #71787e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media screen  and ( max-width : 720px){
  .switch{
    width: 60px;
  }
  .slider{
    height: 30px;
  }
  .slider:before {
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
  }
}

.scroll-style{
  overflow-y: auto;
  scrollbar-width: none;
}

.scroll-style::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.margin{
  margin-left: 30rem;
}
.delete-button{
  position: absolute;
  right: 35rem;
  top: 17rem;
  border: 1px solid gray;
  border-top-left-radius: 10px;
 border-bottom-right-radius: 10px;
 background: rgba(255, 255, 255, 0.1);
  padding: 5px;
}
.change-button{
  position: absolute;
  right: 32rem;
  top: 17rem;
  border: 1px solid gray;
  border-top-left-radius: 10px;
 border-bottom-right-radius: 10px;
 background: rgba(255, 255, 255, 0.1);
  padding: 5px;
}
@media screen and (max-width : 768px) {
  .delete-button{
    right: 4.5rem;
  }
  .change-button{
    right : 17rem;
     border-top-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

.Search-input{
   width: 25%;
}
}
.menu{
  position: absolute;
  left: 1rem;
  top: 2rem;
}

